.root {
    -fx-background-color: #F5F5F5;
}
.button {
    -fx-text-fill: #232323;
    -fx-background-color: #11EE11;
    -fx-font-size: 1.5em;
}
.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #11DD11;
}
.our-library-label {
    -fx-font-size: 3.0em;
    -fx-text-fill: #11EE11;
}
.back-button {
    -fx-background-color: #EEEE11;
}
.back-button:hover {
    -fx-background-color: #DDDD11;
}
.exit-button {
    -fx-background-color: #EE1111;
}
.exit-button:hover {
    -fx-background-color: #DD1111;
 }
.search-box-label {
    -fx-font-size: 1.5em;
    -fx-background-color: #11EE11;
}
